@font-face {
    font-family: "KhandRegular";
    src: local("KhandRegular"),
    url("../../fonts/Khand-Medium.ttf") format("opentype");
    font-weight: normal;
}

body {
    margin: 0;
}

.radix-themes {
    /**/
}

.fw {
    width: 100%;
}

.radix-themes {
    --cursor-button: pointer;
}

.methods {
    font-family: 'KhandRegular', sans-serif;
}

.pointer {
    cursor: pointer;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
